extends layout.pug

block head
  script(src="/socket.io/socket.io.js")
  script
    include ../assets/app.js

block content
  include header.pug
  #app
    include nav.pug
    main#messages-container
