block variables  
doctype html
html(amp="" lang="en")
  head
    meta(charset="utf-8")
    title GitBit
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    style
      include ../assets/styles.css
    block head
  body
    block content
